/* Page base layer */

body {
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* global styles */

.linkNoUnderline {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* media queries for sizing */

@media screen and (min-width: 250px) and (max-width: 550px) {
  h1 {
    font-size: 100%;
  }

  h2 {
    font-size: 0.5em;
  }

  h3 {
    font-size: 0.5em;
  }

  nav button {
    width: 25vw;
    font-size: 0.5em;
  }

  nav select {
    width: 25vw;
    font-size: 0.5em;
  }
}

/* Header styles */

h1 {
  color: black;
  font-family: sans-serif;
  margin-left: 1rem;
}

.loggedInAs {
  margin-left: 3rem;
  height: 100%;
}

.header {
  display: flex;
  max-height: 10%;
}

/* Nav Bar styles */

nav {
  position: relative;
  border-top: 3px solid rgb(192, 5, 5);
  border-bottom: 3px solid rgb(192, 5, 5);
  background-color: white;
  display: flex;
  width: 100vw;
  height: 3vh;
}

/* article info */

.articleInfo {
  position: relative;
  border: 5px solid rgb(192, 5, 5);
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  height: 15%;
  max-height: 15%;
  display: flex;
}

.infoImg {
  margin: 0.5rem;
  max-width: 20%;
  height: auto;
}

.infoContainer {
  position: relative;
  text-align: center;
  width: 80%;
}
